body {
  display: block;
  background-color: grey;
}

.checkPassword {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  border: 10px solid black;
  background: lightblue;
  z-index: 9;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
}

.userpasslist {
  margin-top: 80%;
  margin-right: auto;
  margin-left: auto;
}